.intro {
	background: url(/res/img/bg_blurred.jpg) no-repeat bottom center scroll;
    padding-top: 6%;
}


.intro .intro-body {
    vertical-align: initial;
}

.row.canvashead {
    border: 2px solid rgba(245,245,245,0.33);
    border-radius: 12px;
    padding: 20px;
}

footer {	
    background-color: #01051E;
}


.project-image img, .submission-image img {
    width: 70px;
    height: 70px;
    border: 2px solid rgba(255, 255, 255, 0.72);
    padding: 5px;
    border-radius: 0.2em;
    margin-top: 5px;
}

.row.project, .row.submission {
    min-height: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
	background-color: rgba(246,246,246,0);
	-webkit-transition: background-color 0.1618s ease;
    -moz-transition: background-color 0.1618s ease;
    -o-transition: background-color 0.1618s ease;
    transition: background-color 0.1618s ease;
}

.row.project:hover, .row.submission:hover {
    background-color: rgba(246,246,246,0.13);
}

.project-titledescription, .submission-titledescription h3 {
    text-align: left;
}

.project-titledescription h3, .submission-titledescription h3 {
    margin: 10px 0 5px;
}
.submission-status {

    margin-top: 25px;

}

.project-join {
    margin-top: 20px;
}

.project-age, .submission-age {
    margin-top: 23px;
}
.project-age span, .submission-age span {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
}

.project-languages img, .project-stats img {
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.usercaret > a > img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}


/*

.project-languages, .project-age {
        height: 80px;
}

.project-languages span, .project-age span {
      margin-top: 20px;
}
*/

.row.project, .row.submission {
    cursor: pointer;
}


@media (max-width: 480px) {
    /*
    .project-titledescription {
        padding-bottom: 10px;
    } */
    .intro {
        background: url(/res/img/bg_blurred.jpg) repeat center center scroll;
    }
    a.btn.btn-default.btn-md {
        width: 100%;
    }
    .project-titledescription > h3 > small {
        display: block;
    }
    .row.project {
        margin-top: 20px;
        margin-bottom: 20px;
        transition: none;
    }
    .row.project:hover {
        background-color: rgba(246,246,246,0);
    }

}

canvas {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  position: fixed;
}

.submissions {
    margin-top: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}